{% extends './base.html' %}

{% block title %}Edit users{% endblock %}

{% block content %}
  <h1 style="text-align: center"> Edit the users</h1>

  <form method="POST" action="{{ url_for('user_blueprint.edit_user', id=user.id) }}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{ user.username }}" required>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" value="{{ user.age }}" required>
    <label for="image">Image URL:</label>
    <input type="text" id="image" name="image" value="{{ user.image }}" required>
    <input type="submit" value="Update User">
</form>

{% endblock %}
